<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbj.mapper.FeedbackMapper">

    <resultMap type="com.jbj.bean.Feedback" id="Base_ResultMap">

        <id column="f_id" property="fId" jdbcType="INTEGER"/>
        <result column="f_type" property="fType" jdbcType="INTEGER"/>
        <result column="f_describe" property="fDescribe" jdbcType="VARCHAR"/>
        <result column="f_img" property="fImg" jdbcType="VARCHAR"/>
    </resultMap>


    <sql id="Base_Column_List">
  	 f_id,f_type,f_describe,f_img
  </sql>

    <insert id="saveFeedback" parameterType="com.jbj.bean.Feedback" >
        insert into feedback
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="fId != null">f_id,</if>
            <if test="fType != null">f_type,</if>
            <if test="fDescribe != null">f_describe,</if>
            <if test="fImg != null">f_img</if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="fId != null ">#{fId,jdbcType=INTEGER},</if>
            <if test="fType != null">#{fType,jdbcType=INTEGER},</if>
            <if test="fDescribe != null">#{fDescribe,jdbcType=VARCHAR},</if>
            <if test="fImg != null">#{fImg,jdbcType=INTEGER}</if>
       </trim>
</insert>



</mapper>