<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jbj.mapper.PhotoMapper">
    <resultMap type="com.jbj.bean.Photo" id="Base_ResultMap">
        <id column="p_id" property="pId" jdbcType="INTEGER"/>
        <result column="p_type" property="pType" jdbcType="VARCHAR"/>
        <result column="p_city" property="pCity" jdbcType="VARCHAR"/>
        <result column="p_b_id" property="pbId" jdbcType="VARCHAR"/>
        <result column="p_household" property="pHousehold" jdbcType="VARCHAR"/>
        <result column="p_unit" property="pUnit" jdbcType="VARCHAR"/>
        <result column="p_floor" property="pFloor" jdbcType="VARCHAR"/>
        <result column="p_door_model" property="pDoorModel" jdbcType="VARCHAR"/>
        <result column="p_wall" property="pWall" jdbcType="VARCHAR"/>
        <result column="p_note1" property="pNote1" jdbcType="VARCHAR"/>
        <result column="p_note2" property="pNote2" jdbcType="VARCHAR"/>
        <result column="p_note3" property="pNote3" jdbcType="VARCHAR"/>
        <result column="p_points" property="pPoints" jdbcType="VARCHAR"/>
        <result column="p_measurement" property="pMeasurement" jdbcType="VARCHAR"/>
        <result column="p_lable" property="pLable" jdbcType="VARCHAR"/>
        <result column="p_photo" property="pPhoto" jdbcType="VARCHAR"/>
        <result column="p_address" property="pAddress" jdbcType="VARCHAR"/>
        <result column="p_time" property="pTime" jdbcType="DATE"/>
        <association property="build" javaType="com.jbj.bean.Photo">
            <id column="b_id" property="bId" jdbcType="INTEGER"/>
            <result column="b_name" property="bName" jdbcType="VARCHAR"/>
            <result column="b_dvpcompany" property="bDvpcompany" jdbcType="VARCHAR"/>
            <result column="b_province" property="bProvince" jdbcType="VARCHAR"/>
            <result column="b_city" property="bCity" jdbcType="VARCHAR"/>
            <result column="b_area" property="bArea" jdbcType="VARCHAR"/>
            <result column="b_designcompany" property="bDesigncompany" jdbcType="VARCHAR"/>
            <result column="b_sightcompany" property="bSightcompany" jdbcType="VARCHAR"/>
            <result column="b_pmcompany" property="bPmcompany" jdbcType="VARCHAR"/>
            <result column="b_sg" property="bSg" jdbcType="VARCHAR"/>
            <result column="b_ischoice" property="bIschoice" jdbcType="VARCHAR"/>
            <result column="b_delivery" property="bDelivery" jdbcType="VARCHAR"/>
            <result column="b_periods" property="bPeriods" jdbcType="VARCHAR"/>
            <result column="b_ingnm" property="bIngnm" jdbcType="VARCHAR"/>
            <result column="b_taskStatus" property="bTaskStatus" jdbcType="VARCHAR"/>
            <result column="b_date" property="bDate" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

<!--保存图片-->
    <insert id="savePhoto" parameterType="com.jbj.bean.Photo" >
        insert into photo
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="pId != null">p_id,</if>
            <if test="pType != null">p_type,</if>
            <if test="pCity != null">p_city,</if>
            <if test="pbId != null">p_b_id,</if>
            <if test="pHousehold != null">p_household,</if>
            <if test="pUnit != null">p_unit,</if>
            <if test="pFloor != null">p_floor,</if>
            <if test="pDoorModel != null">p_door_model,</if>
            <if test="pWall != null">p_wall,</if>
            <if test="pNote1 != null">p_note1,</if>
            <if test="pNote2 != null">p_note2,</if>
            <if test="pNote3 != null">p_note3,</if>
            <if test="pPoints != null">p_points,</if>
            <if test="pMeasurement != null">p_measurement,</if>
            <if test="pLable != null">p_lable,</if>
            <if test="pPhoto != null">p_photo,</if>
            <if test="pAddress != null">p_address,</if>
            <if test="pTime != null">p_time</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="pId != null ">#{pId,jdbcType=INTEGER},</if>
            <if test="pType != null">#{pType,jdbcType=VARCHAR},</if>
            <if test="pCity != null">#{pCity,jdbcType=VARCHAR},</if>
            <if test="pbId != null">#{pbId,jdbcType=INTEGER},</if>
            <if test="pHousehold != null">#{pHousehold,jdbcType=VARCHAR},</if>
            <if test="pUnit != null">#{pUnit,jdbcType=VARCHAR},</if>
            <if test="pFloor != null">#{pFloor,jdbcType=VARCHAR},</if>
            <if test="pDoorModel != null">#{pDoorModel,jdbcType=VARCHAR},</if>
            <if test="pWall != null">#{pWall,jdbcType=VARCHAR},</if>
            <if test="pNote1 != null">#{pNote1,jdbcType=VARCHAR},</if>
            <if test="pNote2 != null">#{pNote2,jdbcType=VARCHAR},</if>
            <if test="pNote3 != null">#{pNote3,jdbcType=VARCHAR},</if>
            <if test="pPoints != null">#{pPoints,jdbcType=VARCHAR},</if>
            <if test="pMeasurement != null">#{pMeasurement,jdbcType=VARCHAR},</if>
            <if test="pLable != null">#{pLable,jdbcType=VARCHAR},</if>
            <if test="pPhoto != null">#{pPhoto,jdbcType=VARCHAR},</if>
            <if test="pAddress != null">#{pAddress,jdbcType=VARCHAR},</if>
            <if test="pTime != null">#{pTime,jdbcType=DATE}</if>
        </trim>
</insert>

    <!--查询照片类型-->
    <select id="queryPhotoType" resultType="java.lang.String">
        SELECT DISTINCT p.p_type
        from photo p
    </select>


<!--查询上传记录-->
    <resultMap type="java.util.HashMap" id="Base2_ResultMap">
        <id column="p_id" property="pId" jdbcType="INTEGER"/>
        <result column="p_type" property="pType" jdbcType="VARCHAR"/>
        <result column="p_b_id" property="pbId" jdbcType="INTEGER"/>
        <result column="p_time" property="pTime" jdbcType="DATE"/>
    </resultMap>
    <select id="selectPhotoJilu"  resultMap="Base2_ResultMap">
        SELECT
            p.p_type,
            date_format(p.p_time, '%Y-%m-%d'),
            date_format(p.p_time, '%H:%m'),
            b.b_name,
            count(p.p_id)
        FROM
            photo p
        INNER JOIN buildinfo b
        ON
            p.p_b_id = b.b_id
        GROUP BY
            b.b_name,
            date_format(p.p_time, '%Y-%m-%d')
    </select>

    <!--查询上传记录的统计信息。每天上传了多少楼盘。一共多少张图片-->
    <resultMap type="java.util.Map" id="Count_ResultMap">
        <id column="p_id" property="pId" jdbcType="INTEGER"/>
        <result column="p_b_id" property="pbId" jdbcType="INTEGER"/>
        <result column="p_time" property="pTime" jdbcType="DATE"/>
    </resultMap>
    <select id="selectPhotoCount" resultMap="Count_ResultMap">
        SELECT
            p.p_time,
            count(DISTINCT b.b_id),
            count(p.p_id)
        FROM
            photo p
        INNER JOIN buildinfo b
        ON
            p.p_b_id = b.b_id
		GROUP BY
	date_format(p.p_time,'%Y-%m-%d')
    </select>

    <!--测试DTO的使用-->
    <resultMap type="com.jbj.bean.Photo" id="Test_ResultMap">
        <id column="p_id" property="pId" jdbcType="INTEGER"/>
        <result column="p_city" property="pCity" jdbcType="VARCHAR"/>
        <result column="p_b_id" property="pbId" jdbcType="INTEGER"/>
        <result column="p_time" property="pTime" jdbcType="DATE"/>
    </resultMap>
    <select id="selectPhotoTest" parameterType="java.lang.Integer" resultMap="Test_ResultMap">
        SELECT P.p_id,
			p.p_city,
			p.p_b_id,
			p.p_time
         FROM
        photo P
        where
        <if test="pId != null">p.p_id=#{pId}</if>
    </select>
    <!--根据id查询照片所有的信息-->
    <select id="selectPhotoById" parameterType="java.lang.Integer" resultMap="Base_ResultMap">
        select
          *
        from
          photo p
        where
        <if test="pId != null">p.p_id=#{pId}</if>
    </select>
<!--多条件查询-->
    <resultMap type="java.util.Map" id="duo_ResultMap">
        <id column="p_id" property="pId" jdbcType="INTEGER"/>
        <result column="p_type" property="pType" jdbcType="VARCHAR"/>
        <result column="p_city" property="pCity" jdbcType="VARCHAR"/>
        <result column="p_b_id" property="pbId" jdbcType="VARCHAR"/>
        <result column="p_household" property="pHousehold" jdbcType="VARCHAR"/>
        <result column="p_unit" property="pUnit" jdbcType="VARCHAR"/>
        <result column="p_floor" property="pFloor" jdbcType="VARCHAR"/>
        <result column="p_door_model" property="pDoorModel" jdbcType="VARCHAR"/>
        <result column="p_wall" property="pWall" jdbcType="VARCHAR"/>
        <result column="p_note1" property="pNote1" jdbcType="VARCHAR"/>
        <result column="p_note2" property="pNote2" jdbcType="VARCHAR"/>
        <result column="p_note3" property="pNote3" jdbcType="VARCHAR"/>
        <result column="p_points" property="pPoints" jdbcType="VARCHAR"/>
        <result column="p_measurement" property="pMeasurement" jdbcType="VARCHAR"/>
        <result column="p_lable" property="pLable" jdbcType="VARCHAR"/>
        <result column="p_photo" property="pPhoto" jdbcType="VARCHAR"/>
        <result column="p_address" property="pAddress" jdbcType="VARCHAR"/>
        <result column="p_time" property="pTime" jdbcType="DATE"/>
    </resultMap>
    <select id="selectPhoto" parameterType="com.jbj.bean.Photo" resultMap="duo_ResultMap">
        SELECT
            *
        FROM
            photo p
        INNER JOIN buildinfo b
        ON
            p.p_b_id = b.b_id
        where
            1=1
        <if test="pCity != null">
            AND p.p_city=#{pCity}
        </if>
        <if test="pbId != null">
            AND p.p_b_id=#{pbId}
        </if>
    </select>

</mapper>